* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: sans-serif;
}


.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}


.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 

.header__logo {
  display: flex;
}

.logo__text {
  font-size: 25px;
  font-weight: bold;
  transform: translateY(45px)
  translateX(15px);
  animation-name: logo-move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}


.header__link {
  color: black;
  transition: all 2ms;
}

.header__link:hover {
  color: red;
  text-decoration: underline;
  animation-name: hover;
  animation-duration: 2s;
}

@keyframes hover {
  50% {
    color: black;
  }
}

@keyframes logo-move {
  33.3% {
    color: red;
    transform: scale(0.5);
  }

  33.3% {
    color: blue;
    transform: scale(0.7);
  }

  33.3% {
    color: green;
    transform: scale(0.8);
  }

}

.show {
display: flex;
}

.header__menu {
  display: flex;
}

.header__item {
  list-style: none;
  margin-left: 30px;
}

.header__link {
  text-decoration: none;
}


@media screen and (min-width: 911px) {
  .header__btn {
    display: none;
  }
}

@media screen and (max-width: 910px) {

  .container {
    max-width: 910px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  
.header__inner {
  position: relative;
}

  .menu {
    position: absolute;
    top: 80%;
    right: 0;
    width: 100%;
    padding: 35px 0;
    flex-direction: column;
    background-color: black;
  }

  .header__item {
    padding-bottom: 25px;
    transform: translateX(400px);
  }

  .header__item:last-child {
    padding-bottom: 0;
  }

  .header__link {
    color: #fff;
    transition: 0.55ms;
  }

  .header__link:hover {
    background-color: yellow;
  }

  .header__nav {
    display: none;
  }

  .show {
    display: flex;
    }
}

@media  screen and (max-width: 881px) {
  .container {
    max-width: 881px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .header__item {
    transform: translateX(360px);
  }
  
  
}

@media screen and (max-width: 825px) {
  .container {
    max-width: 825px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  
}

@media screen and (max-width: 785px) {
  .container {
    max-width: 785px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  
}


@media screen and (max-width: 755px) {
  .container {
    max-width: 755px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .header__item {
    transform: translateX(325px);
  }
  
}

@media screen and (max-width: 745px) {
  .container {
    max-width: 745px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  
}


@media screen and (max-width: 739px) {
  .container {
    max-width: 739px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .header__item {
    transform: translateX(320px);
  }
  
}

@media screen and (max-width: 695px) {
  .container {
    max-width: 695px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .header__item {
    transform: translateX(300px);
  }
  
}


@media screen and (max-width: 639px) {
  .container {
    max-width: 639px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .header__item {
    transform: translateX(260px);
  }
  
}


@media screen and (max-width: 571px) {
  .container {
    max-width: 571px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .header__item {
    transform: translateX(240px);
  }
  
}


@media screen and (max-width: 543px) {
  .container {
    max-width: 510px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .header__item {
    transform: translateX(200px);
  }
  
}


@media screen and (max-width: 463px) {
  .container {
    max-width: 463px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .header__item {
    transform: translateX(168px);
  }
  
}


@media screen and (max-width: 400px) {
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .header__item {
    transform: translateX(140px);
  }
  
}

@media screen and (max-width: 360px) {
  .container {
    max-width: 360px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .header__item {
    transform: translateX(120px);
  }
  
}


@media screen and (max-width: 338px) {
  .container {
    max-width: 639px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .header__item {
    transform: translateX(100px);
  }
  
}


@media screen and (max-width: 280px) {
  .container {
    max-width: 280px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .header__item {
    transform: translateX(60px);
  }
  
}